// Latar
body {
  background-color: white;
  font-family: 'Gloria Hallelujah', cursive;
}

/* Surat */
.container {
  // Ukuran
  width: 600px;
  height: 750px;

  // Latar Kertas
  background-image: url(../img/kertas.png);
  background-size: contain;
  background-repeat: no-repeat;

  // Margin Padding
  margin: 50px auto;
  padding: 50px 200px;

  // Font
  text-align: center;
  color: #222;

  filter: drop-shadow(0 28px 15px black);

  .judul {
    font-size: 28px;
    font-style: italic;

    // Jarak
    margin-top: 80px;
    margin-bottom: 50px;
  }

  .isi {
    font-size: 1em;
    text-align: justify;

    .ps {
      margin-top: 20px;
    }
  }
}